body{
    margin: 0;
}

.container{
    padding-left: 100px;
    margin-top:0;
}

/*Contenitore*/
.contenitore{
    background-image: url(../img/pattern.png);
    background-color:#932bbf;
    height: 180px;
    border-bottom:20px dashed #a8bbe6;
    background-attachment: scroll;
}

#logo{
    width: 250px;  
    margin-top: 80px;
    padding-left: 100px;
}
/*Contenitore Fine*/

/*Titolo e autore e data*/
#titolo{
    font-size: 3em;
}

#autore{
    color:#2dade6;
}

.descrizione{
    color:#d681fb;
    padding-bottom: 100px;
}

/*Paragrafo*/
.paragrafo{
    font-size: larger;
}
/*Paragrafo Fine*/
/*Tabella*/
.blue{
    background-color:#932bbf;
    color: #f2fafd;
}

.tabella{
    padding: 0 50px;
}

.tabella-body{
    background-color:#d681fb;;
    font-size: 12px;
    font-weight: 300;
}

th{
    text-emphasis: none;
    text-align: left;
    padding-right: 180px;
}

#bianco{
    background-color: #f2fafd;;
}
/*Tabella Fine*/

/*Footer*/
h3{
    color: #932bbf;
    margin-top: 40px;
}

.photo-uno{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 300px;
    color: #f2fafd;
    font-size: 25px;
}
    
.photo-due{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 300px;
    color: #f2fafd;
    font-size: 25px;
}
/*Footer Fine*/